*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.d{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0E00;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 100px;
    top:-550px;
    position: inherit;
}
.form{

background-color: #20202B;
padding :50px;
box-shadow: 0 0 20px rgba(0, 0,0,2);
display: flex;
flex-direction: column;
text-align: center;
width: 100px;
margin: 100px;
}
.h2{
    font-size: 30px;
    color: #35EDB6;
margin-bottom: 30px;
}
.inputs{
    padding:20px;
    border: 0;
    background-color: #2A2A34;
    margin-bottom: -2px;
    color: #CDDBD2;
  
    font-size: 15px;
    position: relative;
    top:-70px;
margin: 90px;
}

.input{
    padding:20px;
    border: 0;
    background-color: #2A2A34;
    margin-bottom: -2px;
    color: #CDDBD2;
    font-size: 15px;
    position: inherit;
    top:-240px;
margin: 90px;
}
.inpu{
    padding:20px;
    border: 0;
    background-color: #2A2A34;
    margin-bottom: -2px;
    color: #CDDBD2;
  
    font-size: 15px;
    position: inherit;
    top:-320px;
margin: 90px;
}
.inp{
    padding:20px;
    border: 0;
    background-color: #2A2A34;
    margin-bottom: -2px;
    color: #CDDBD2;
    font-size: 15px;
    position: inherit;
    top:-370px;
margin: 90px;
}
::placeholder{
    color: #CDCBD2;
}
.btn{
    padding: 20px;
    background-color: #35EDB6;
    color: #0C0E0D;
    font-weight: bold;
    cursor: pointer;
    margin: 180px;
    width: 100px;
top: -600px;
position: relative;
}
.btn:hover{
    background-color: #38FFC3;
}
.n{
    top: -158px;
position: relative;
    margin:195px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:left;
    color:rgb(255, 255, 255);}
    .q{
        top: -330px;
    position: inherit;
        margin:95px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align:left;
        color:rgb(255, 255, 255);}
        .c{
            top: -310px;
        position: relative;
            margin:195px;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align:left;
            color:rgb(255, 255, 255);}
            .l{
                top: -259px;
            position: inherit;
                margin:15px;
                font-size: 20px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-align:left;
                color:rgb(255, 255, 255);}